[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimplyAgree"]
	path = SimplyAgree
	url = https://github.com/arcaldwell49/simplyagree
[submodule "Superpower"]
	path = Superpower
	url = https://github.com/arcaldwell49/superpower
[submodule "TOSTER"]
	path = TOSTER
	url = https://github.com/cran/TOSTER
